<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AthenaPS - Dashboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/YoruAkio/ProjectAssets/main/VenLogman/6788f6faaae85fb9e8f4bfec/1737029517053_n136qzbz.png">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body class="flex flex-col items-center justify-center h-screen bg-transparent">
  <div id="login" class="fixed inset-0 flex items-center justify-center font-[Poppins]">
    <div class="relative bg-black border-4 border-yellow-400 shadow-lg p-4 w-80 rounded-lg animate__animated animate__fadeIn">
      <div class="absolute -top-10 left-1/2 transform -translate-x-1/2">
        
          <img src="https://raw.githubusercontent.com/YoruAkio/ProjectAssets/main/VenLogman/6788f6faaae85fb9e8f4bfec/1737029517053_n136qzbz.png" alt="Server Logo" class="w-80 h-auto rounded-full" />
        
      </div>
      <div id="errorDiv" class="hidden flex flex-col mt-1 mb-1 text-sm text-yellow-400 font-600 px-[5px] bg-yellow-700">
          <a id="errorMessage"></a>
      </div>
      <div id="logUII" class="flex flex-col items-center mt-2 text-sm text-white">
          <a id="logUI" class="font-bold">Login Account</a>
      </div>
      <div id="accountLoggedIn" class="hidden flex flex-col items-center mt-2 text-sm text-white">
          <a id="growId" class="font-bold">GrowID: empty</a>
          <div class="flex justify-start text-[10px] text-white mt-1 mb-1">
              <a id="removeSession" class="underline" href="#">Remove Session?</a>
          </div>
      </div>
      <form method="post" action="/player/growid/login/validate" accept-charset="UTF-8" id="loginForm" class="animate__animated animate__fadeIn">
        <div class="mb-1">
          <input name="type" value="login" type="hidden" />
          <input name="_token" value="{}" type="hidden" />
          <label for="loginGrowId" class="block text-white text-xs font-bold mb-1">GrowID</label>
          <div class="flex items-center border-2 border-yellow-400 rounded bg-black px-1 py-1">
          <i class="fas fa-user text-white mr-1 text-sm"></i>
          <input type="text" name="growId" id="loginGrowId"
            class="w-full bg-black text-white text-sm placeholder-white focus:outline-none"
            placeholder="Enter your growid">
          </div>
        </div>
        <div class="mb-1">
          <label for="loginPassword" class="block text-white text-xs font-bold mb-1">Password</label>
          <div class="flex items-center border-2 border-yellow-400 rounded bg-black px-1 py-1">
            <i class="fas fa-lock text-white mr-1 text-sm"></i>
            <input type="password" name="password" id="loginPassword"
              class="w-full bg-black text-white text-sm placeholder-white focus:outline-none"
              placeholder="Enter your password">
            <button type="button" id="toggleLogPassword" class="text-white ml-2 focus:outline-none text-sm">
              <i class="fas fa-eye"></i>
            </button>
          </div>
        </div>
        <div class="flex justify-between items-center mt-3">
          <div class="flex justify-start text-[10px] text-white">
            Don't have an account?&nbsp;<a id="RegisterAccount" class="underline text-yellow-500"
            href="#">Register</a>
          </div>
        </div>
        <div class="flex justify-between items-center mt-5">
          </div>
          <button id="loginButton" class="w-full px-2 py-1.5 rounded bg-yellow-500 text-white text-sm hover:bg-yellow-700 transition duration-200 ease-in-out transform hover:scale-105">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div id="register" class="hidden fixed inset-0 flex items-center justify-center font-[Poppins]">
    <div class="relative bg-black border-4 border-yellow-400 shadow-lg p-4 w-80 rounded-lg animate__animated animate__fadeIn">
      <div class="absolute -top-10 left-1/2 transform -translate-x-1/2">
        
          <img src="https://raw.githubusercontent.com/YoruAkio/ProjectAssets/main/VenLogman/6788f6faaae85fb9e8f4bfec/1737029517053_n136qzbz.png" alt="Server Logo" class="w-80 h-auto rounded-full" />
        
      </div>
      <div id="errorRegDiv" class="hidden flex flex-col mt-1 mb-1 text-sm text-yellow-400 font-600 px-[5px] bg-yellow-700">
          <a id="errorRegMessage"></a>
      </div>
      <div id="regUII" class="flex flex-col items-center mt-2 text-sm text-white">
          <a id="regUI" class="font-bold">Register Account</a>
      </div>

      <form method="post" action="/player/growid/register/validate" accept-charset="UTF-8" id="registerForm" class="animate__animated animate__fadeIn">
        <div class="mb-1">
          <input name="type" value="register" type="hidden" />
          <input name="_token" value="{}" type="hidden" />
          <label for="regGrowID" class="block text-white text-xs font-bold mb-1">GrowID</label>
          <div class="flex items-center border-2 border-yellow-400 rounded bg-black px-1 py-1">
          <i class="fas fa-user text-white mr-1 text-sm"></i>
          <input type="text" name="growId" id="regGrowID"
            class="w-full bg-black text-white text-sm placeholder-white focus:outline-none"
            placeholder="Enter your growid">
          </div>
        </div>
        <div class="mb-1">
          <label for="regPassword" class="block text-white text-xs font-bold mb-1">Password</label>
          <div class="flex items-center border-2 border-yellow-400 rounded bg-black px-1 py-1">
            <i class="fas fa-lock text-white mr-1 text-sm"></i>
            <input type="password" name="password" id="regPassword"
              class="w-full bg-black text-white text-sm placeholder-white focus:outline-none"
              placeholder="Enter your password">
            <button type="button" id="toggleRegPassword" class="text-white ml-2 focus:outline-none text-sm">
              <i class="fas fa-eye"></i>
            </button>
          </div>
        </div>
        <div class="mb-1">
          <label for="regEmail" class="block text-white text-xs font-bold mb-1">Email</label>
          <div class="flex items-center border-2 border-yellow-400 rounded bg-black px-1 py-1">
            <i class="fas fa-envelope text-white mr-1 text-sm"></i>
            <input type="email" name="email" id="regEmail"
              class="w-full bg-black text-white text-sm placeholder-white focus:outline-none"
              placeholder="Enter your email">
          </div>
        </div>
        <div class="flex justify-between items-center mt-3">
          <div class="flex justify-start text-[10px] text-white">
            Already have an account?&nbsp;<a id="LoginAccount" class="underline text-yellow-500"
            href="#">Login</a>
          </div>
        </div>
        <div class="flex justify-between items-center mt-5">
          </div>
          <button id="registerButton" class="w-full px-2 py-1.5 rounded bg-yellow-500 text-white text-sm hover:bg-yellow-700 transition duration-200 ease-in-out transform hover:scale-105">Register</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    function email(str) {
    	if (str.length > 64 || str.length === 0) return false;
    
    	const atIndex = str.indexOf('@');
    	const dotIndex = str.indexOf('.', atIndex);
    
    	if (atIndex === -1 || dotIndex === -1) return false;
    
    	if (atIndex < 1 || str.length - atIndex < 5) return false;
    
    	return true;
    }
    function isValidInput(input) {
    	// Trim the input to remove leading and trailing spaces
    	const trimmedInput = input.trim();
    
    	// Check if the trimmed input is empty
    	return trimmedInput.length > 0;
	}
    document.addEventListener('DOMContentLoaded', function () {
      if (localStorage.getItem('growId')) {
        document.getElementById('growId').innerHTML = `GrowID: ${localStorage.getItem('growId')}`;
        document.getElementById('loginGrowId').value = localStorage.getItem('growId');
        document.getElementById('accountLoggedIn').classList.remove('hidden');
      }
      if (localStorage.getItem('password')) { 
        document.getElementById('loginPassword').value = localStorage.getItem('password');
        document.getElementById('accountLoggedIn').classList.remove('hidden');
      }
      // Login variables
      const loginGrowId = document.getElementById('loginGrowId').value
      const loginPassword = document.getElementById('loginPassword').value
    });
    
    //Toggle Login Dashboard to Register Dashboard
    document.getElementById('RegisterAccount').addEventListener('click', function () {
       const reg = document.getElementById('register');
       const login = document.getElementById('login');
       document.getElementById('errorRegDiv').classList.add('hidden');
       document.getElementById('errorRegMessage').innerHTML = '';
       if (login.classList.contains("hidden") && !reg.classList.contains("hidden")) {
       	login.classList.remove("hidden"); 
       	reg.classList.add("hidden");
       }
       else {
       	login.classList.add("hidden"); 
       	reg.classList.remove("hidden");
       }
    });
    document.getElementById('LoginAccount').addEventListener('click', function () {
       const reg = document.getElementById('register');
       const login = document.getElementById('login');
       document.getElementById('errorDiv').classList.add('hidden');
       document.getElementById('errorMessage').innerHTML = '';
       if (reg.classList.contains("hidden") && !login.classList.contains("hidden")) {
       	reg.classList.remove("hidden"); 
       	login.classList.add("hidden");
       }
       else {
       	reg.classList.add("hidden"); 
       	login.classList.remove("hidden");
       }
    });
    
    //Logic Login Button
    document.getElementById('loginButton').addEventListener('click', function (event) {
      event.preventDefault();

      const loginForm = document.getElementById('loginForm');
      const uName = document.getElementById('loginGrowId').value;
      const uPass = document.getElementById('loginPassword').value;
      const swearwords = ["KONTOL", "KNTL", "KHONTOL", "MEMEK", "MMK","MEKI", "PUKI", "CUKI", "MEMEX", "MEMEC", "PELER", "JEMBUT", "PALKON", "ITIL", "NGENTOT", "NGEN", "NGTD", "BOKEP", "BKP", "BUGIL", "TELANJANG", "PEPEK", "TETEK", "TTK", "PENTIL", "NENEN", "PAYUDARA", "PUTING", "PENIS", "KEMALUAN", "PORN", "PORNHUB", "XNXX", "XHAMSTER", "BOOBS", "DICK", "COCK", "PUSSY", "BRAZZER", "NIGGA", "NIGGER", "FUCK", "FCK", "SHIT", "ASS", "ASSHOLE", "BITCH", "SUCK", "HANDJOB", "BLOWJOB", "DOGGY", "ANJING", "AJG", "BABI", "BANGSAT", "PANTEK", "KIMAK", "BUJANG", "ENTOD", "BEGO", "BODOH", "TOLOL", "PEA", "JILMEK", "NYEPONG", "SEPONG", "ISEP", "JILAT", "MASJIB", "ISLAM", "MUSHOLA", "MUSHOLLA", "KITAB", "ALLAH", "TUHAN", "YESUS", "GEREJA", "ALQURAN", "QURAN", "ALKITAB", "MUHAMMAD", "NABI", "MARYAM", "AGAMA", "RELIGION", "TERRORIST ", "ALLAHUAKBAR", "SHOLAT", "SALIB", "YATIM", "PIATU", "CHRISTIAN", "GOD", "LONTE", "LONT", "MICHAT", "PSK", "ANIME", "HENTAI", "WIBU", "JAV", "BOCIL", "PEDO", "PEDOFIL", "BANCI", "PUKIMAK", "NGUYEN", "TAI", "BERSETUBUH", "SHOLAT", "DOA", "SHALAT", "PRAYER", "JESUS", "KISS", "CIPOKAN", "CIUM", "LGBT", "GAY", "LESBIAN", "LESBI", "PERAWAN", "JANDA", "GIGOLO", "TOBRUT"];

      const upperUserInput = uName.toUpperCase();
      
      for (let swearword of swearwords) {
        if (upperUserInput.includes(swearword)) {
        		document.getElementById('errorDiv').classList.remove('hidden');
        		document.getElementById('errorMessage').innerHTML = 'Your GrowID cannot contain a swear words';
            	return;
        	}
    	}

      if (!isValidInput(uName) || !isValidInput(uPass)) {
        document.getElementById('errorDiv').classList.remove('hidden');
        document.getElementById('errorMessage').innerHTML = 'GrowID or Password is empty';
        return;
      } else if (uName.length < 3 || uPass.length < 4) {
        document.getElementById('errorDiv').classList.remove('hidden');
        document.getElementById('errorMessage').innerHTML = 'Username or Password must be at least 4 characters long';
        return;
      } else {
        loginForm.submit();
        localStorage.setItem('growId', document.getElementById('loginGrowId').value);
        localStorage.setItem('password', document.getElementById('loginPassword').value);
      }
    })
    
    //Logic Register Button
    document.getElementById('registerButton').addEventListener('click', function (event) {
      event.preventDefault();

      const registerForm = document.getElementById('registerForm');
      const uName = document.getElementById('regGrowID').value;
      const uPass = document.getElementById('regPassword').value;
      const uEmail = document.getElementById('regEmail').value;
      const swearwords = ["KONTOL", "KNTL", "KHONTOL", "MEMEK", "MMK","MEKI", "PUKI", "CUKI", "MEMEX", "MEMEC", "PELER", "JEMBUT", "PALKON", "ITIL", "NGENTOT", "NGEN", "NGTD", "BOKEP", "BKP", "BUGIL", "TELANJANG", "PEPEK", "TETEK", "TTK", "PENTIL", "NENEN", "PAYUDARA", "PUTING", "PENIS", "KEMALUAN", "PORN", "PORNHUB", "XNXX", "XHAMSTER", "BOOBS", "DICK", "COCK", "PUSSY", "BRAZZER", "NIGGA", "NIGGER", "FUCK", "FCK", "SHIT", "ASS", "ASSHOLE", "BITCH", "SUCK", "HANDJOB", "BLOWJOB", "DOGGY", "ANJING", "AJG", "BABI", "BANGSAT", "PANTEK", "KIMAK", "BUJANG", "ENTOD", "BEGO", "BODOH", "TOLOL", "PEA", "JILMEK", "NYEPONG", "SEPONG", "ISEP", "JILAT", "MASJIB", "ISLAM", "MUSHOLA", "MUSHOLLA", "KITAB", "ALLAH", "TUHAN", "YESUS", "GEREJA", "ALQURAN", "QURAN", "ALKITAB", "MUHAMMAD", "NABI", "MARYAM", "AGAMA", "RELIGION", "TERRORIST ", "ALLAHUAKBAR", "SHOLAT", "SALIB", "YATIM", "PIATU", "CHRISTIAN", "GOD", "LONTE", "LONT", "MICHAT", "PSK", "ANIME", "HENTAI", "WIBU", "JAV", "BOCIL", "PEDO", "PEDOFIL", "BANCI", "PUKIMAK", "NGUYEN", "TAI", "BERSETUBUH", "SHOLAT", "DOA", "SHALAT", "PRAYER", "JESUS", "KISS", "CIPOKAN", "CIUM", "LGBT", "GAY", "LESBIAN", "LESBI", "PERAWAN", "JANDA", "GIGOLO", "TOBRUT"];

      const upperUserInput = uName.toUpperCase();
      
      for (let swearword of swearwords) {
        if (upperUserInput.includes(swearword)) {
        		document.getElementById('errorRegDiv').classList.remove('hidden');
        		document.getElementById('errorRegMessage').innerHTML = 'Your GrowID cannot contain a swear words';
            	return;
        	}
    	}
    
      if (!isValidInput(uName) || !isValidInput(uPass) || !isValidInput(uEmail)) {
        document.getElementById('errorRegDiv').classList.remove('hidden');
        document.getElementById('errorRegMessage').innerHTML = 'GrowID or Password or Email is empty';
        return;
      } else if (uName.length < 3 || uName.length > 18) {
        document.getElementById('errorRegDiv').classList.remove('hidden');
        document.getElementById('errorRegMessage').innerHTML = "Oops!  Your GrowID must be between 3 and 18 characters long.";
        return;
      } else if (uPass.length < 4 || uPass.length > 18) {
        document.getElementById('errorRegDiv').classList.remove('hidden');
        document.getElementById('errorRegMessage').innerHTML = "Oops!  Your Password must be between 4 and 18 characters long.";
        return;
      } else if (!email(uEmail)) {
        document.getElementById('errorRegDiv').classList.remove('hidden');
        document.getElementById('errorRegMessage').innerHTML = "Oops!  Look, if you'd like to be able try retrieve your password if you lose it, you'd better enter a real email.  We promise to keep your data 100% private and never spam you.";
        return;
      } else {
        registerForm.submit();
        localStorage.setItem('growId', document.getElementById('regGrowID').value);
        localStorage.setItem('password', document.getElementById('regPassword').value);
      }
    })
    
    document.getElementById('toggleLogPassword').addEventListener('click', function () {
      const LpasswordField = document.getElementById('loginPassword')
      const LpasswordFieldType = LpasswordField.getAttribute('type');
      if (LpasswordFieldType === 'password') {
        LpasswordField.setAttribute('type', 'text');
        this.innerHTML = '<i class="fas fa-eye-slash"></i>';
      } else {
        LpasswordField.setAttribute('type', 'password');
        this.innerHTML = '<i class="fas fa-eye"></i>';
      }
    });
    document.getElementById('toggleRegPassword').addEventListener('click', function () {
      const RpasswordField = document.getElementById('regPassword')
      const RpasswordFieldType = RpasswordField.getAttribute('type');
      if (RpasswordFieldType === 'password') {
        RpasswordField.setAttribute('type', 'text');
        this.innerHTML = '<i class="fas fa-eye-slash"></i>';
      } else {
        RpasswordField.setAttribute('type', 'password');
        this.innerHTML = '<i class="fas fa-eye"></i>';
      }
    });
    document.getElementById('removeSession').addEventListener('click', function () {
      localStorage.removeItem('growId');
      localStorage.removeItem('password');
      document.getElementById('loginGrowId').value = "";
      document.getElementById('loginPassword').value = "";
      document.getElementById('accountLoggedIn').classList.add('hidden');
    });
  </script>
</body>

</html>
